<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="css/blog.css">
  <script type="text/javascript" src="js/jquery-2.1.1.js"></script>
  <script type="text/javascript" src="js/jss.js"> </script>
</head>
<body>
  <div id="content">
              <div id="content_area">
              </div>

    <div id="feild_area">
          <form id="f">
        <textarea id="fname" placeholder="Chat hear" cols=82 rows=5 name="input_text"></textarea>
              <input type ="button" onclick=" WebSocketTest()" value="Chat">
            </form>
    </div>        
   </div>
  </body>
</html>
