<html>
<head>
<title></title>
<link rel="stylesheet" type="text/css" href="css/blog.css">
<script type="text/javascript" src="js/jquery-2.1.1.js"></script>
<script type="text/javascript" src="js/jss.js"> </script>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>

<div id="content">
 <div id="uname">
      <form id="uform">
         <input type="text" name="use" id="username"><br><br>
                 <input type="submit" id="uname_button" value="Submit">
      </form>
 </div>
<div id="content_area">
</div>
<div id="feild_area">
<form id="f">
            <textarea id="fnameid" placeholder="Chat hear" cols=82 rows=5 name="fname" value=""></textarea>
            <button type="button" id="send_button" class="btn btn-primary" data-loading-text="Sending">Send</button>
</form>
</div>
</div>
</body>
</html>
